{% extends 'base.html' %}  <!-- If you have a base template you're extending -->

{% block content %}
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-center my-8">Events</h1>
    <div class="grid grid-cols-3 gap-4">
      {% for event in events %}
        <a href="{% url 'sub_events' event.id %}" class="block">
          <div class="event bg-white rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
            {% if event.image %}
              <img src="{{ event.image.url }}" alt="{{ event.name }}" class="w-full h-48 object-cover">
            {% endif %}
            <div class="p-4">
              <h2 class="font-semibold text-xl mb-2">{{ event.name }}</h2>
              <p class="text-gray-700">{{ event.description }}</p>
            </div>
          </div>
        </a>
        {% empty %}
        <p class="text-gray-600">No events found.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}


