{% extends "base.html" %}
{% load static %}

{% block content %}
  <div>
    {% if wizard.form.errors %}
      <div class="errors">
        <p>Please correct the following errors:</p>
        {{ wizard.form.errors }}
      </div>
    {% endif %}


    <h2>Step {{ wizard.steps.current|add:"1" }} of {{ wizard.steps.count|add:"1" }}</h2>
    <form method="post">
      {% csrf_token %}


      {{ wizard.management_form }}
{#      {{ wizard.form }}#}

      {% for field in wizard.form %}
        <label>{{ field.name }}</label>
        <input value="{{ form.value }}"/>
      {% endfor %}



      {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
      {% endif %}

      <input type="submit" value="Next">
    </form>

  </div>

{% endblock %}
