{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
  <div class="max-w-4xl mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-4">Event Summary</h2>
    <div id="event-summary" class="bg-white shadow-md rounded-lg p-6 mb-6">
      <ul class="list-disc pl-5">
        <li class="py-2">Show 'n Shine: $25.00</li>

        {% if event_session %}
          {% for key, value in event_session.items %}
            {% if value and key != "show" %}
              <li class="py-2">{{ key }}: {% if key == 'poker' %}$5.00{% elif key == 'cruise_night' or key == 'dance' %}Free{% endif %}</li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <div id="merchandise-summary" class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h3 class="text-xl font-semibold mb-4">Merchandise Summary</h3>
      <ul class="list-disc pl-5">
        <ul>
          {% for key, value in mens_form_session.items %}
            {% if value > 0 %}
              {% with key|cut:"men_quantity_"|split:"_" as parts %}
                <li class="py-2 flex justify-between border-b border-gray-200">
                  <span>Men's T-Shirt (Size: {{ parts.0 }}, Color: {{ parts.1.capitalize }})</span>
                  <span>Qty: {{ value }} - ${{ value|multiply:25 }}</span>
                </li>
              {% endwith %}
            {% endif %}
          {% endfor %}

          {% for key, value in womens_form_session.items %}
            {% if value > 0 %}
              {% with key|cut:"women_quantity_"|split:"_" as parts %}
                <li class="py-2 flex justify-between border-b border-gray-200">
                  <span>Women's T-Shirt (Size: {{ parts.0 }}, Color: {{ parts.1.capitalize }})</span>
                  <span>Qty: {{ value }} - ${{ value|multiply:25 }}</span>
                </li>
              {% endwith %}
            {% endif %}
          {% endfor %}

          {% if basketball_form_session.quantity > 0 %}
            <li class="py-2 flex justify-between border-b border-gray-200">
              <span>Basketball</span>
              <span>Qty: {{ basketball_form_session.quantity }} - ${{ basketball_form_session.quantity|multiply:30 }}</span>
            </li>
          {% endif %}

          {% if toque_form_session.quantity > 0 %}
            <li class="py-2 flex justify-between border-b border-gray-200">
              <span>Toque</span>
              <span>Qty: {{ toque_form_session.quantity }} - ${{ toque_form_session.quantity|multiply:20 }}</span>
            </li>
          {% endif %}
        </ul>

      </ul>
    </div>


    <li class="py-2 mt-4 font-semibold">Total Price: ${{ total_price }}</li>



  <form method="post" action="{% url 'process_payment' %}">
    {% csrf_token %}
    <div id="payment-options" class="bg-white shadow-md rounded-lg p-6">
      <h3 class="text-xl font-semibold mb-4">Proceed to Payment</h3>
      <button type="submit" target="_blank" class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-200">Pay with PayPal</button>
    </div>
  </form>

  </div>

{% endblock %}

