{% extends 'base.html' %}
{% load account socialaccount %}
{% load custom_filters %}
{% load static %}

{% block content %}
  <div class="max-w-4xl mx-auto px-4 py-8">

{#    <a href="{% url 'account_login' %}">Signup</a>#}
{#    <a href="{% url 'account_logout' %}">Signout</a>#}

    <h2 class="text-2xl font-bold mb-4">Event Summary</h2>
    <div id="event-summary" class="bg-white shadow-md rounded-lg p-6 mb-6">
      <ul class="list-disc pl-5">

        {% if event_session %}
          {% for key, value in event_session.items %}
            {% if value and key != "show" %}
              <li class="py-2 list-none">
                <div class="flex items-start">
                  <img src="{% static 'images/events/'|add:key|add:'.png' %}" alt="{{ key }}" class="h-24 w-24 mr-4">
                  <span class="flex-1 font-bold text-2xl">{{ key|prettify_key }}</span>
                </div>
                <div class="border-b border-gray-200 mt-2"></div>
                <div class="border-t border-gray-200 pt-2">
                  <div class="flex justify-between items-end">
                    <div class="text-center">
                      <div>Price</div>
                      <div>
                        {% if key == 'show_n_shine' %}
                          25 CAD
                        {% elif key == 'poker_run' %}
                          5 CAD
                        {% elif key == 'cruise_night' or key == 'street_dance' %}
                          0 CAD
                        {% else %}
                          {{ value.price }} CAD
                        {% endif %}
                      </div>
                    </div>
                    <div class="text-center">
                      <div>Total Price</div>
                      <div>
                        {% if key == 'show_n_shine' %}
                          25 CAD
                        {% elif key == 'poker_run' %}
                          5 CAD
                        {% elif key == 'cruise_night' or key == 'street_dance' %}
                          0 CAD
                        {% else %}
                          {{ value.price }} CAD
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

      </ul>
    </div>

    <div id="merchandise-summary" class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h3 class="text-xl font-semibold mb-4">Merchandise Summary</h3>
      <ul class="list-disc pl-5">
        <ul>

          {% for key, value in mens_form_session.items %}
            {% if value > 0 %}
              {% with key|cut:"men_quantity_"|split:"_" as parts %}
                <li class="py-2 list-none">
                  <div class="flex items-start">
                    <img src="{% static 'images/mens_tshirts/'|add:parts.1|add:'.png' %}" alt="Men's T-Shirt" class="h-24 w-24 mr-4">
                    <span class="flex-1 font-bold text-3xl">Men's T-Shirt (Size: {{ parts.0 }}, Color: {{ parts.1.capitalize }})</span>
                  </div>
                  <div class="border-b border-gray-200 mt-2"></div>
                  <div class="border-t border-gray-200 pt-2">
                      <div class="flex justify-between items-end">
                        <div class="text-center">
                          <div>Price</div>
                          <div>25 CAD</div>
                        </div>
                        <div class="text-center">
                          <div>Qty</div>
                          <div>{{ value }}</div>
                        </div>
                        <div class="text-center">
                          <div>Total Price</div>
                          <div>{{ value|multiply:25 }} CAD</div>
                        </div>
                      </div>

                  </div>
                </li>
              {% endwith %}
            {% endif %}
          {% endfor %}


          {% for key, value in womens_form_session.items %}
            {% if value > 0 %}
              {% with key|cut:"women_quantity_"|split:"_" as parts %}
                <li class="py-2 list-none">
                  <div class="flex items-start">
                    <img src="{% static 'images/womens_tshirts/'|add:parts.1|add:'.png' %}" alt="Men's T-Shirt" class="h-24 w-24 mr-4">
                    <span class="flex-1 font-bold text-3xl">Women's T-Shirt (Size: {{ parts.0 }}, Color: {{ parts.1.capitalize }})</span>
                  </div>
                  <div class="border-b border-gray-200 mt-2"></div>
                  <div class="border-t border-gray-200 pt-2">
                    <div class="flex justify-between items-end">
                      <div class="text-center">
                        <div>Price</div>
                        <div>25 CAD</div>
                      </div>
                      <div class="text-center">
                        <div>Qty</div>
                        <div>{{ value }}</div>
                      </div>
                      <div class="text-center">
                        <div>Total Price</div>
                        <div>{{ value|multiply:25 }} CAD</div>
                      </div>
                    </div>

                  </div>
                </li>
              {% endwith %}
            {% endif %}
          {% endfor %}


          {% for key, value in basketball_form_session.items %}
            {% if value > 0 %}
              {% with key|cut:"basketball_quantity_"|split:"_" as parts %}
                <li class="py-2 list-none">
                  <div class="flex items-start">
                    <img src="{% static 'images/basketball/'|add:parts.0|add:'.png' %}" alt="Basketball" class="h-24 w-24 mr-4">
                    <span class="flex-1 font-bold text-3xl">Basketball (Color: {{ parts|join:" " }})</span>
                  </div>
                  <div class="border-b border-gray-200 mt-2"></div>
                  <div class="border-t border-gray-200 pt-2">
                    <div class="flex justify-between items-end">
                      <div class="text-center">
                        <div>Price</div>
                        <div>20 CAD</div>
                      </div>
                      <div class="text-center">
                        <div>Qty</div>
                        <div>{{ value }}</div>
                      </div>
                      <div class="text-center">
                        <div>Total Price</div>
                        <div>{{ value|multiply:20 }} CAD</div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endwith %}
            {% endif %}
          {% endfor %}


          {% for key, value in toque_form_session.items %}
            {% if value > 0 %}
              {% with key|cut:"toque_quantity_"|split:"_" as parts %}
                <li class="py-2 list-none">
                  <div class="flex items-start">
                    <img src="{% static 'images/toque/'|add:parts.0|add:'.png' %}" alt="Toque" class="h-24 w-24 mr-4">
                    <span class="flex-1 font-bold text-3xl">Toque (Style: {{ parts|join:" " }})</span>
                  </div>
                  <div class="border-b border-gray-200 mt-2"></div>
                  <div class="border-t border-gray-200 pt-2">
                    <div class="flex justify-between items-end">
                      <div class="text-center">
                        <div>Price</div>
                        <div>15 CAD</div>
                      </div>
                      <div class="text-center">
                        <div>Qty</div>
                        <div>{{ value }}</div>
                      </div>
                      <div class="text-center">
                        <div>Total Price</div>
                        <div>{{ value|multiply:15 }} CAD</div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endwith %}
            {% endif %}
          {% endfor %}

        </ul>

      </ul>
    </div>


    <div class="mt-4">
      <div class="flex justify-between py-2">
        <span class="font-semibold">Event Total:</span>
        <span class="font-semibold">$ {{ event_total }}</span>
      </div>
      <div class="flex justify-between py-2">
        <span class="font-semibold">Merchandise Total:</span>
        <span class="font-semibold">$ {{ merchandise_total }}</span>
      </div>
      <div class="flex justify-between py-2 mt-4 border-t border-gray-200">
        <span class="font-semibold">Total:</span>
        <span class="font-semibold">$ {{ total_price }}</span>
      </div>
    </div>




    <div class="flex justify-center min-h-screen">
      <div class="w-full max-w-md">
        {{ form.render }}
      </div>
    </div>




  </div>

{% endblock %}

